# Rails backend

/backend/.bundle
/backend/log/*
!/backend/log/.keep
/backend/tmp/*
!/backend/tmp/.keep
/backend/tmp/pids/*
!/backend/tmp/pids/
!/backend/tmp/pids/.keep
/backend/storage/*
!/backend/storage/.keep
/backend/db/*.sqlite3
/backend/db/*.sqlite3-journal
/backend/public/assets
/backend/public/packs
/backend/public/packs-test
/backend/config/master.key
/backend/node_modules
/backend/yarn-error.log
/backend/yarn-debug.log*
/backend/.yarn-integrity

# 念のため byebug
/api.byebug_history

# React frontend

/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/build
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*